<div class="jumbotron">
    <h1>Social Ridesharing</h1>
    <p class="lead">The future of carpooling</p>
</div>

<div class="container">
    <h3>Drivers</h3>
    <p><a href="/driverSignUp">Click here</a> to sign up.</p>
    <p><a href="/driverOffer">Click here</a> to post a ride offer.</p>
    
    <br>
    
    <h3>Riders</h3>
    <p><a href="/riderSignUp">Click here</a> to sign up.</p>
    <p><a href="/riderOffer">Click here</a> to post a ride request.</p>
</div>