<div class="col-md-6">
    
    {{#if error}}
		<div class="alert alert-danger">
	        {{error}}
	    </div>
	{{/if}}
    
    <form method="post">
        <legend>{{tableTitle}}</legend>
        <div class="form-group">    
            <label for="startZip">Starting zipcode</label>
            <input class="form-control" type="text" name="startZip" id="startZip">
        </div>
        <div class="form-group">
            <label for="endZip">Ending zipcode</label>
            <input class="form-control" type="text" name="endZip" id="endZip">
        </div>
        <div class="form-group">
            <label for="days">Days</label>
            <input type="checkbox" name="sun" value="1"> Sun /
            <input type="checkbox" name="mon" value="1"> Mon /
            <input type="checkbox" name="tue" value="1"> Tues /
            <input type="checkbox" name="wed" value="1"> Wed /
            <input type="checkbox" name="thur" value="1"> Thurs /
            <input type="checkbox" name="fri" value="1"> Fri /
            <input type="checkbox" name="sat" value="1"> Sat
        </div>
        <div class="form-group">
            <label for="startTime">Start time</label>
            {{!--<input class="form-control" type="text" name="startTime" id="startTime">--}}
            <input class="form-control" type="time" name="startTime" id="startTime">
        </div>
        <div class="form-group">
            <label for="endTime">End time</label>
            {{!--<input class="form-control" type="text" name="endTime" id="endTime>"--}}
            <input class="form-control" type="time" name="endTime" id="endTime">
        </div>
        <div class="form-group">
            <label for="cap">Capacity</label>
            <input class="form-control" type="number" min="1" max="10" name="cap" id="cap">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="col-md-6">
    <!-- picture goes here -->
    <img src="static/img/carpool.jpg" class="img-responsive img-rounded">
</div>
