<div class="container">
	<form method="post">
		<fieldset>
			<legend>{{role}} Info</legend>
				<label>First Name</label>
					<input type="text" name="FirstName" id="FirstName">
				<label>Last Name</label>
					<input type="text" name="LastName" id="LastName">
				<label>Phone Number</label>
					<input type="text" name="PhoneNumber" id="PhoneNumber">
		</fieldset>
		<input type="submit" value="Submit">
	</form>
</div>