<h1>Subscription Information</h1>

<p>To post offers and access trips, you must subscribe to our service.  The subscription is a recurring weekly
 amount of $25.  The billing will take place every seven days from the date of subscription.</p>
 
 <p>If you agree to these terms, please <a href="/createagreement">click here to continue.</a></p>